body {
  background-color: RGB(051,051,051);
}
h1 {
   color: RGB(229,34,34);
}
h2 {
  color: RGB(229,34,34);
}
h3 {
   color: RGB(229,34,34);
}
h4 {
   color: RGB(229,34,34);
}
h5 {
   color: RGB(229,34,34);
}
p {
   color: RGB(178,0, 0);
}
a:link {
  color: blueviolet;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkorange;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}